# .env.example
# Values for these variables should be stored securely in your deployment environment.

# Firebase Service Account Configuration
FIREBASE_PROJECT_ID=      # e.g. asstella-production
FIREBASE_CLIENT_EMAIL=    # e.g. firebase-adminsdk-xxxxx@asstella-production.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY=     # e.g. "-----BEGIN PRIVATE KEY-----\nMIIEvgIBADAN...-----END PRIVATE KEY-----\n"

# Security
ENCRYPTION_KEY=d90cd885f4662876e5593ef5dc151899d44104af19eaf307e7a718af7e35ad7e # 32-byte string for data encryption

# General
FRONTEND_URL=https://asstella.com
PORT=                     # 8080 or 3000
NODE_ENV=                 # e.g. production or development
APP_VERSION=              # e.g. 1.0.0

# Third-party Integrations
STRIPE_SECRET_KEY=        # e.g. sk_live_xxxxxxxxxxx
GMAIL_USER=               # e.g. your_email@gmail.com
GMAIL_APP_PASSWORD=       # Your 16-character Google App Password

# Development Bypass
ALLOW_DEV_AUTH=true

